{% extends "base.html.twig" %}

{% block content %}
    <p>RSVParty is the brainchild of a dedicated group of individuals who LOVE TO PARTY RIIIGGGHHHTT. Spurred on by a lack of pun-named products on the market, the RSVParty team took it upon themselves to make the world a better RSVPlace.</p>
{% endblock %}
