{% extends "base.html.twig" %}
{% block content%}
    <form class="/create_event" action="index.html" method="post">
        <input class="hidden" type="hidden" name="name" value="{{user.getId}}">
        <label for="name">Event Name:</label>
        <input type="text" name="name" placeholder="Enter your event name...">
        <label for="date_time">Event Date:</label>
        <input type="date" name="date">
        <label for="description">Event Description:</label>
        <input type="text" name="description" placeholder="What is your event about?">
        <label for="location">Event Location:</label>
        <input type="location" name="location" placeholder="Where will you be meeting?">

        <button type="submit" name="button">create event</button>
    </form>
{% endblock %}
