{% extends "base.html.twig" %}
{% block content%}
<div id="rsvp-page">
    <label for="event">Select an Event</label>
    <select id="event" class="form-control" name="event">
        {%for event in events%}
        <option value="{{event.getId}}">{{event.getName}}</option>
        {%endfor%}
    </select>
    <button type="submit" name="button">RSVP now!</button>
</div>

{% endblock %}
