{% extends "base.html.twig" %}
{% block content%}

<h2>{{ user.getName }}</h2>

<h4>Update account information:</h4>
<form class="" action="/user/{{user.getId}}/edit" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="name">Update username:</label>
    <input id="name" type="text" name="name">
    <label for="password">Update password:</label>
    <input id="password" type="text" name="password">
    <label for="email">Update email:</label>
    <input id="email" type="text" name="email">
    <button class="btn" type="submit">update account</button>
</form>
<h4>Delete account</h4>
    <form class="" action="index.html" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" name="button">delete account</button>
    </form>

    <h3>Active Event(s)</h3>
    {% if events is not empty %}
        {% for event in events %}

        <a href="/event_page/{{ event.getId }}"><li>{{event.getName}}</li></a>
        {% endfor %}
    {% else %}
    <p>
        <h4>There are no events listed for this user.</h4>
    </p>
    {% endif %}
{% endblock %}
