/*base.html.twig styling*/
body {
    background-image: url(/../img/rsvpartybackground.png);
    background-repeat: no-repeat;
    background-size: 150vw;
}

a {
    color: #3DC7EA;
}

#error-container {
    text-align: center;
}

#error-img {
    padding: 2px;
}

#logo {
    width: 600px;
}

#logotron {
    height: 300px;
    text-align: center;
}


.btn {
    background-color: #86DCEF;
}

.navbar {
    padding-top: 2%;
    text-align: center;
}
.nav-ul {
  display: inline-block;
  margin-left: -30px;
}

.nav-li {
  display: inline-block;
  padding-right: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c5c5c;
  font-size: 16px;
}

.nav-login {
    display: inline-block;
}
