/*base.html.twig styling*/
body {
    background-image: url(/../img/rsvpartybackground.png);
    background-repeat: no-repeat;
    background-size: 150vw;
    background-attachment: fixed;
    font-family: 'Istok Web', sans-serif;
}

a {
    color: #3DC7EA;
}

#error-msg {
    padding-bottom: : -5px;
}

#error-container {
    text-align: center;
}

#error-img {
    padding: 2px;
}

#logo {
    width: 600px;
}

#logotron {
    height: 300px;
    text-align: center;
}

.btn-top {
	border: 2px solid #86DCEF;
	color: #3DC7EA;
}

.btn-top:hover {
    color: #FCB2CD;
}

.contentbox {
    margin-top: 10px;
}


.btn {
    background: none;
}

.navbar {
    padding-top: 2%;
    text-align: center;
}
.nav-ul {
  display: inline-block;
  margin-left: -30px;
}

.nav-li {
  display: inline-block;
  padding-right: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c5c5c;
  font-size: 16px;
}

.nav-login {
    display: inline-block;
}
