/*base.html.twig styling*/
a {
    color: #3DC7EA;
}

body {
    background-image: url(/../img/rsvpartybackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: 150vw;*/
    background-attachment: fixed;
    background-position: bottom;
    font-family: 'Istok Web', sans-serif;
}

li {
    list-style: none;
}

textarea {
    width: 400px;
    resize: vertical;
}

ul {
    list-style: none;
}


#about-page {
    margin-right:10%;
    margin-left: 10%;
    font-size: 20px;
}

#about-content {
    font-family: 'Catamaran', sans-serif;
}

#edit-btn {

}

#error-msg {
    padding-bottom: : -5px;
}

#error-container {
    text-align: center;
}

#error-img {
    padding: 2px;
}

#error-text {

}

#edit-btn {
    border: 2px solid #86DCEF;
	color: #3DC7EA;
    position: relative;
    top: -35px;
    left: 410px;
}

#logo {
    margin-top: -85px;
    width: 600px;
}

#logotron {
    height: 300px;
    text-align: center;
}

#map {
    margin-top: 15px;
    height: 400px;
    width: 100%;
}

#party-header {
    text-align: center;
    font-size: 40px;
}

#party-right {
    font-style: italic;
    color: hotpink;
}

.btn {
    background: none;
}

.btn-top {
	border: 2px solid #86DCEF;
	color: #3DC7EA;
}

.btn-top:hover {
    color: #FCB2CD;
}

.center {
    text-align: center;
}

.container {
    margin-top: -100px;
}

.contentbox {
    margin-top: 10px;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;

}

.error-field {

}

.edit-btn {
    border: 2px solid #86DCEF;
	color: #3DC7EA;
    position: relative;
    top: -35px;
    left: 210px;
}

.form-control {
    width: 200px;
}

.form-textarea-control {
    width: 400px;
}

.glyphicon {
    color: black;
}

.navbar {
    padding-top: 2%;
    text-align: center;
}
.nav-ul {
  display: inline-block;
  margin-left: -30px;
}

.nav-li {
  display: inline-block;
  padding-right: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c5c5c;
  font-size: 16px;
}

.nav-login {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}
